<div class="global-search">

  <p-table [value]="results()" [loading]="loading()">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>{{ CONSTANTS.COMMON_NAME | translate }}</th>
        <th>{{ CONSTANTS.COMMON_OWNER | translate }}</th>
        <th>{{ CONSTANTS.COMMON_STATUS | translate }}</th>
        <th>{{ CONSTANTS.COMMON_ACTIONS | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          @if (item.photoUrl) {
          <img [src]="item.photoUrl" width="40" height="40" alt="" />
          } @else {
          <i class="pi pi-user" aria-hidden="true"></i>
          }
        </td>
        <td>{{ item.firstName }} {{ item.lastName }}</td>
        <td>{{ item.ownerDisplayName || '-' }}</td>
        <td>
          @if (item.requestStatus) {
          <p-tag [severity]="statusSeverity(item.requestStatus)" [value]="requestStatusKey(item.requestStatus) | translate"></p-tag>
          } @else {
          <p-tag severity="warn" [value]="(CONSTANTS.SEARCH_REQUIRES_REQUEST | translate)"></p-tag>
          }
        </td>
        <td class="global-search-actions">
          @if (!isRequestLocked(item.requestStatus)) {
          <button pButton size="small" label="{{ CONSTANTS.SEARCH_REQUEST_ACCESS | translate }}" (click)="openRequestDialog(item)"></button>
          } @else {
          <p-tag severity="info" [value]="requestStatusKey(item.requestStatus) | translate"></p-tag>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>

  @if (showAddDialog()) {
  <app-add-relative-dialog
    [visible]="showAddDialog()"
    [baseMember]="baseOwner"
    [clonedMemberId]="clonedMemberId!"
    (close)="showAddDialog.set(false)"
    (saved)="handleDialogSaved($event)"
  ></app-add-relative-dialog>
  }

  @if (showMsgDialog()) {
  <p-dialog
    [visible]="showMsgDialog()"
    [modal]="true"
    [style]="{ width: '420px' }"
    [closable]="true"
    [focusOnShow]="false"
    appendTo="body"
    (visibleChange)="onRequestDialogVisibleChange($event)"
    [header]="CONSTANTS.SEARCH_REQUEST_ACCESS | translate"
  >
    <div class="d-flex flex-column gap-2">
      <div>
        <label class="mb-1 d-block">{{ CONSTANTS.COMMON_MESSAGE | translate }} ({{ CONSTANTS.COMMON_OPTIONAL | translate }})</label>
        <textarea pTextarea rows="4" [maxlength]="255" [ngModel]="msgDraft()" (ngModelChange)="msgDraft.set($event)" class="w-full"></textarea>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <button pButton type="button" class="p-button-secondary" (click)="cancelRequestDialog()" label="{{ CONSTANTS.INFO_CANCEL | translate }}"></button>
        <button pButton type="button" (click)="confirmRequestDialog()" label="{{ CONSTANTS.COMMON_SEND | translate }}"></button>
      </div>
    </div>
  </p-dialog>
  }
</div>
