<div class="login-container">
  <!-- Left Image -->
  <div class="login-image">
    <img
      ngSrc="assets/images/tree_mobile.png"
      alt="Family Tree"
      width="1024"
      height="1536"
      priority
    />
  </div>

  <!-- Right Form -->
  <div class="login-form">
    <div class="login-card">
      <div class="card-topbar">
        <span class="lang-label mr-2">{{
          CONSTANTS.COMMON_LANGUAGE | translate
        }}</span>
        <p-select
          [options]="langOptions"
          [(ngModel)]="currentLang"
          (ngModelChange)="switchLang($event)"
          styleClass="lang-select"
        >
          <ng-template pTemplate="selectedItem" let-opt>
            <span [attr.data-value]="opt.value">{{ opt.label }}</span>
          </ng-template>
          <ng-template pTemplate="item" let-opt>
            <span [attr.data-value]="opt.value">{{ opt.label }}</span>
          </ng-template>
        </p-select>
      </div>
      <h2 class="login-title">
        {{ CONSTANTS.AUTH_REGISTER | translate }}
      </h2>

      <form
        [formGroup]="form"
        (ngSubmit)="register()"
        class="login-form-content"
      >
        <div class="floating-field">
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            placeholder=" "
          />
          <label for="email">{{ CONSTANTS.AUTH_EMAIL | translate }}</label>
        </div>

        <!-- Password -->
        <p-floatlabel variant="on" class="pass-inputs">
          <p-password
            formControlName="password"
            inputId="password"
            [toggleMask]="true"
            [feedback]="false"
            [inputStyleClass]="'ft-input'"
            autocomplete="new-password"
            name="new-password"
            (onFocus)="onPasswordFocus()"
            (onBlur)="onPasswordBlur()"
          />
          <label for="password">{{
            CONSTANTS.AUTH_PASSWORD | translate
          }}</label>
        </p-floatlabel>

        <!-- Confirm Password -->
        <p-floatlabel variant="on" class="pass-inputs">
          <p-password
            formControlName="confirmPassword"
            inputId="confirmPassword"
            [toggleMask]="true"
            [feedback]="false"
            [inputStyleClass]="'ft-input'"
            autocomplete="new-password"
            name="new-password"
          />
          <label for="confirmPassword">{{
            CONSTANTS.AUTH_CONFIRM_PASSWORD | translate
          }}</label>
        </p-floatlabel>

        @if (showPassRules || (form.get('password')?.dirty && form.get('password')?.invalid)) {
        <div
          class="pass-rules-fixed"
        >
          <div class="pass-rules-header">
            {{ CONSTANTS.AUTH_RESET_PASSWORD | translate }}
            <button
              type="button"
              class="close-btn"
              (click)="showPassRules = false"
              aria-label="Close"
            >
              ×
            </button>
          </div>
          @if (showPassRules || (form.get('password')?.dirty && form.get('password')?.invalid)) {
          <div
            class="pass-rules-fixed"
          >
            <div class="pass-rules-header">
              {{ CONSTANTS.AUTH_RESET_PASSWORD | translate }}
              <button
                type="button"
                class="close-btn"
                (click)="showPassRules = false"
                aria-label="Close"
              >
                ×
              </button>
            </div>
            <ul class="pl-2 my-0 leading-normal text-sm">
              <li [class.ok]="rules.lower">
                {{ CONSTANTS.AUTH_RULE_LOWER | translate }}
              </li>
              <li [class.ok]="rules.upper">
                {{ CONSTANTS.AUTH_RULE_UPPER | translate }}
              </li>
              <li [class.ok]="rules.number">
                {{ CONSTANTS.AUTH_RULE_NUMBER | translate }}
              </li>
              <li [class.ok]="rules.special">
                {{ CONSTANTS.AUTH_RULE_SPECIAL | translate }}
              </li>
              <li [class.ok]="rules.min10">
                {{ CONSTANTS.AUTH_RULE_MIN10 | translate }}
              </li>
            </ul>
          </div>
          }
        </div>
        }

        @if (form.hasError('passwordsMismatch') &&
        form.get('confirmPassword')?.touched) {
        <p-message
          class="mb-3"
          severity="error"
          [text]="translate.instant(CONSTANTS.AUTH_PASSWORDS_NOT_MATCH)"
        >
        </p-message>
        }

        <button
          pButton
          type="submit"
          label="{{ CONSTANTS.AUTH_REGISTER | translate }}"
          class="login-button mt-3"
          [disabled]="form.invalid"
        ></button>

        <div class="login-footer">
          <span>{{ CONSTANTS.AUTH_ALREADY_REGISTERED | translate }}</span>
          <a [routerLink]="CONSTANTS.ROUTES.LOGIN">
            {{ CONSTANTS.AUTH_LOGIN | translate }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
