<p-dialog
  [header]="CONSTANTS.INFO_PHOTO_PICKER_HEADER | translate"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '30rem' }"
  (onHide)="cancel()"
>
  <div class="photo-grid">
    @for (photo of availablePhotos; track photo) {
      <div
        class="photo-option"
        [class.selected]="photo === selectedPhoto"
        (click)="selectPhoto(photo)"
      >
        <img [src]="photo" alt="Avatar option" />
      </div>
    }
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="{{ CONSTANTS.INFO_CANCEL | translate }}"
      class="p-button-text"
      (click)="cancel()"
    ></button>
    <button
      pButton
      type="button"
      label="{{ CONSTANTS.INFO_SAVE | translate }}"
      [disabled]="!selectedPhoto"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>