@if (shouldShowNavbar()) {
<p-menubar [model]="[]">
  <ng-template pTemplate="start">
    <a routerLink="/" class="flex items-center gap-2 text-lg font-bold">
      <img
        src="assets/images/logo.png"
        alt="FamilyTree logo"
        width="64"
        height="64"
        class="align-middle"
        style="vertical-align: middle"
      />
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <ng-container *ngIf="isLoggedIn(); else loggedOut">
      <button
        pButton
        label="{{ CONSTANTS.AUTH_PROFILE | translate }}"
        icon="pi pi-user"
        class="p-button-text"
        routerLink="/profile"
      ></button>
      <button
        pButton
        label="{{ CONSTANTS.AUTH_LOGOUT | translate }}"
        icon="pi pi-sign-out"
        class="p-button-text ml-2"
        (click)="logout()"
      ></button>
    </ng-container>

    <ng-template #loggedOut>
      <button
        pButton
        label="{{ CONSTANTS.AUTH_LOGIN | translate }}"
        icon="pi pi-sign-in"
        class="p-button-text"
        routerLink="/auth/login"
      ></button>
      <button
        pButton
        label="{{ CONSTANTS.AUTH_REGISTER | translate }}"
        icon="pi pi-user-plus"
        class="p-button-text ml-2"
        routerLink="/auth/register"
      ></button>
    </ng-template>
  </ng-template>
</p-menubar>
}
