<p-table
  [value]="members"
  [lazy]="true"
  [paginator]="true"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rowsPerPageOptions]="[5, 10, 20, 50]"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  [responsiveLayout]="'scroll'"
  (onLazyLoad)="loadMembers($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="lastName">
        {{ CONSTANTS.INFO_NAMES | translate }}
        <p-sortIcon field="lastName" />
      </th>

      <th>
        {{ CONSTANTS.RELATION_TYPE | translate }}
      </th>

      <th pSortableColumn="dob">
        {{ CONSTANTS.INFO_DOB_MODE | translate }}
        <p-sortIcon field="dob" />
      </th>

      <th>{{ CONSTANTS.INFO_ACTIONS | translate }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-m>
    <tr>
      <td
        [pTooltip]="m.firstName + ' ' + (m.lastName || '—')"
        tooltipPosition="top"
      >
        {{ m.firstName }} {{ m.lastName || "—" }}
      </td>

      <td [pTooltip]="getRoleDisplay(m)" tooltipPosition="top">
        {{ getRoleDisplay(m) }}
      </td>

      <td [pTooltip]="birthTooltip(m)" tooltipPosition="top">
        {{ birthDisplay(m) }}
      </td>

      <td>
        <div class="d-flex gap-2">
          <button
            pButton
            icon="pi pi-user-plus"
            class="p-button-rounded p-button-sm"
            (click)="addRelative.emit(m)"
            pTooltip="{{ CONSTANTS.RELATION_ADD_RELATIVE_HEADER | translate }}"
            tooltipPosition="top"
          ></button>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-sm"
            (click)="editMember.emit(m)"
            pTooltip="{{ CONSTANTS.INFO_EDIT_MEMBER | translate }}"
            tooltipPosition="top"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <!-- We now have 4 columns -->
      <td colspan="4">
        {{
          loading
            ? ("Loading..." | translate)
            : ("No members found" | translate)
        }}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>
