<!-- src/app/features/tree-table/family-table/family-table.component.html -->
<p-table [value]="members" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "First Name" | translate }}</th>
      <th>{{ "Last Name" | translate }}</th>
      <th>{{ "Date of Birth" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-m>
    <tr>
      <td>{{ m.firstName }}</td>
      <td>{{ m.lastName || "—" }}</td>
      <td>{{ m.dob | date : "yyyy-MM-dd" }}</td>
    </tr>
  </ng-template>
</p-table>
