<p-card>
  <h2 class="d-flex justify-center">
    {{ CONSTANTS.AUTH_FORGOT_PASSWORD | translate }}
  </h2>

  @if (done()) {
  <p-message
    class="mt-3 message-top"
    severity="info"
    [text]="CONSTANTS.AUTH_RESET_LINK_SENT_GENERIC | translate"
  ></p-message>
  } @if (error()) {
  <p-message
    class="mt-3 message-top"
    severity="error"
    [text]="error()"
  ></p-message>
  }

  <div class="d-flex justify-center w-full">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="initial-forms d-flex justify-center flex-column align-items-center gap-2 w-full"
    >
      <!-- Email -->
      <div class="floating-field">
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder=" "
          autocomplete="email"
        />
        <label for="email">{{ CONSTANTS.AUTH_EMAIL | translate }}</label>
      </div>

      <button
        pButton
        type="submit"
        icon="pi pi-send"
        class="mt-2"
        [disabled]="form.invalid"
        [label]="CONSTANTS.AUTH_SEND_RESET_LINK | translate"
      ></button>
    </form>
  </div>
</p-card>
