<h1 class="d-flex justify-center">{{ CONSTANTS.INFO_OWNER | translate }}</h1>
<div class="d-flex justify-center w-full">
  <form
    [formGroup]="form"
    (ngSubmit)="next()"
    class="initial-forms d-flex justify-center flex-column align-items-center gap-2 w-full"
  >
    <div class="floating-field">
      <input
        id="firstName"
        pInputText
        formControlName="firstName"
        placeholder=" "
      />
      <label for="firstName">{{ CONSTANTS.INFO_FIRST_NAME | translate }}</label>
    </div>

    <div class="floating-field">
      <input
        id="middleName"
        pInputText
        formControlName="middleName"
        placeholder=" "
      />
      <label for="middleName">{{
        CONSTANTS.INFO_MIDDLE_NAME | translate
      }}</label>
    </div>

    <div class="floating-field">
      <input
        id="lastName"
        pInputText
        formControlName="lastName"
        placeholder=" "
      />
      <label for="lastName">{{ CONSTANTS.INFO_LAST_NAME | translate }}</label>
    </div>

    <!-- Gender -->
    <div class="floating-field" [class.active]="form.get('gender')?.value">
      <label for="gender">{{ CONSTANTS.INFO_GENDER | translate }}</label>
      <p-select
        inputId="gender"
        formControlName="gender"
        [options]="genderOptions"
        optionLabel="label"
        optionValue="value"
        placeholder=" "
        class="w-full"
      ></p-select>
    </div>

    <!-- DOB -->
    <div class="floating-field" [class.active]="form.get('dob')?.value">
      <label for="dob">{{ CONSTANTS.INFO_DATE_OF_BIRTH | translate }}</label>
      <p-datepicker
        inputId="dob"
        formControlName="dob"
        placeholder=" "
        dateFormat="yy-mm-dd"
        [showIcon]="true"
        [iconDisplay]="'input'"
        [style]="{ width: '100%' }"
      ></p-datepicker>
    </div>

    <!-- Photo -->
    <div class="floating-field file-label" [class.active]="photoUrl()">
      <label>{{ CONSTANTS.INFO_PHOTO_LABEL | translate }}</label>

      @if( photoUrl() ) {
      <div class="photo-preview-container">
        <img
          [src]="apiUrl + photoUrl()"
          alt="Uploaded"
          class="uploaded-photo-preview"
        />
        <button
          type="button"
          class="photo-remove-button"
          (click)="onPhotoClear()"
          aria-label="Remove photo"
        >
          ✖
        </button>
      </div>
      } @if (!photoUrl()) {
      <p-fileUpload
        name="photo"
        customUpload
        [auto]="true"
        [showUploadButton]="false"
        [showCancelButton]="false"
        (uploadHandler)="onPhotoUpload($event)"
        chooseLabel="{{ CONSTANTS.ADD_PHOTO | translate }}"
        class="w-full"
      />}
    </div>

    <button
      pButton
      type="submit"
      icon="pi pi-arrow-right"
      label="{{ CONSTANTS.INFO_FORWARD | translate }}"
      [disabled]="form.invalid"
    ></button>
  </form>
</div>
