<div class="login-container">
  <!-- Left Image -->
  <div class="login-image">
    <img
      ngSrc="assets/images/tree_mobile.png"
      width="640"
      height="960"
      alt="Family Tree"
      priority
    />
  </div>

  <!-- Right Form -->
  <div class="login-form">
    <div class="login-card">
      <div class="card-topbar">
        <span class="lang-label mr-2">{{
          CONSTANTS.COMMON_LANGUAGE | translate
        }}</span>
        <p-select
          [options]="langOptions"
          [(ngModel)]="currentLang"
          (ngModelChange)="switchLang($event)"
          styleClass="lang-select"
        >
          <ng-template pTemplate="selectedItem" let-opt>
            <span [attr.data-value]="opt.value">{{ opt.label }}</span>
          </ng-template>
          <ng-template pTemplate="item" let-opt>
            <span [attr.data-value]="opt.value">{{ opt.label }}</span>
          </ng-template>
        </p-select>
      </div>

      <h2 class="login-title">
        {{ CONSTANTS.AUTH_LOGIN_IN_PROFILE | translate }}
      </h2>

      <form [formGroup]="form" (ngSubmit)="login()" class="login-form-content">
        <div class="floating-field">
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            placeholder=" "
          />
          <label for="email">{{ CONSTANTS.AUTH_EMAIL | translate }}</label>
        </div>

        <p-floatlabel variant="on" class="pass-inputs">
          <p-password
            formControlName="password"
            inputId="password"
            [toggleMask]="true"
            [feedback]="false"
            [inputStyleClass]="'ft-input'"
            autocomplete="off"
          />
          <label for="password">
            {{ CONSTANTS.AUTH_PASSWORD | translate }}
          </label>
        </p-floatlabel>

        @if (error()) {
        <p-message class="mb-3" severity="error" [text]="error()"></p-message>
        }

        <button
          pButton
          type="submit"
          label="{{ CONSTANTS.AUTH_LOGIN | translate }}"
          class="login-button mt-3"
          [disabled]="form.invalid"
        ></button>

        <button
          type="button"
          pButton
          class="google-button mb-3 mt-3"
          icon="pi pi-google"
          label="{{ CONSTANTS.AUTH_GOOGLE_LOGIN | translate }}"
          (click)="loginWithGoogle()"
        ></button>

        <p class="recaptcha-note">
          {{ CONSTANTS.COMMON_RECAPTCHA_NOTICE | translate }}
        </p>

        <div class="login-footer">
          <span>{{ CONSTANTS.AUTH_NO_ACCOUNT | translate }}</span>
          <a [routerLink]="CONSTANTS.ROUTES.REGISTER" class="register-link">
            {{ CONSTANTS.AUTH_REGISTER_NOW | translate }}
          </a>
          <a [routerLink]="CONSTANTS.ROUTES.AUTH_FORGOT" class="forgot-link">
            {{ CONSTANTS.AUTH_FORGOT_PASSWORD | translate }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog
  [visible]="showMobileHint()"
  (visibleChange)="showMobileHint.set($event)"
  [modal]="false"
  [dismissableMask]="true"
  [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
  [style]="{ width: '28rem', maxWidth: '95vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  contentStyleClass="mobile-hint-content"
  header="{{ 'COMMON.MOBILE_HINT_TITLE' | translate }}"
>
  <div class="mobile-hint-body">
    <i class="pi pi-desktop icon"></i>
    <div class="text">
      {{ "COMMON.MOBILE_HINT_MESSAGE" | translate }}
    </div>
  </div>
</p-dialog>
