<div class="login-container">
  <!-- Left Image -->
  <div class="login-image">
    <img src="assets/images/tree_mobile.png" alt="Family Tree" />
  </div>

  <!-- Right Form -->
  <div class="login-form">
    <div class="login-card">
      <h2 class="login-title">
        {{ CONSTANTS.AUTH_LOGIN_IN_PROFILE | translate }}
      </h2>

      <form [formGroup]="form" (ngSubmit)="login()" class="login-form-content">
        <div class="floating-field">
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            placeholder=" "
          />
          <label for="email">{{ CONSTANTS.AUTH_EMAIL | translate }}</label>
        </div>

        <div class="floating-field">
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
            placeholder=" "
          />
          <label for="password">{{
            CONSTANTS.AUTH_PASSWORD | translate
          }}</label>
        </div>

        @if (error()) {
        <p-message class="mb-3" severity="error" [text]="error()"></p-message>
        }

        <button
          pButton
          type="submit"
          label="{{ CONSTANTS.AUTH_LOGIN | translate }}"
          class="login-button mt-3"
          [disabled]="form.invalid"
        ></button>

        <div class="login-footer">
          <span>{{ CONSTANTS.AUTH_NO_ACCOUNT | translate }}</span>
          <a [routerLink]="['/auth/register']">
            {{ CONSTANTS.AUTH_REGISTER_NOW | translate }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
